* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html linguist-detectable=false
*.md diff=markdown
*.php diff=php linguist-detectable=true

CHANGELOG.md export-ignore
README.md export-ignore
